<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.weiziplus.springboot.mapper.originalAdvertData.OriginalDataAdvAdgroupsReportMapper" >
  <resultMap id="BaseResultMap" type="com.weiziplus.springboot.models.OriginalDataAdvAdgroupsReport" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="shop" property="shop" jdbcType="VARCHAR" />
    <result column="area" property="area" jdbcType="VARCHAR" />
    <result column="date" property="date" jdbcType="TIMESTAMP" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="campaign_name" property="campaignName" jdbcType="VARCHAR" />
    <result column="campaign_id" property="campaignId" jdbcType="BIGINT" />
    <result column="ad_group_id" property="adGroupId" jdbcType="BIGINT" />
    <result column="ad_group_name" property="adGroupName" jdbcType="VARCHAR" />
    <result column="impressions" property="impressions" jdbcType="INTEGER" />
    <result column="clicks" property="clicks" jdbcType="INTEGER" />
    <result column="cost" property="cost" jdbcType="DECIMAL" />
    <result column="attributed_conversions1d" property="attributedConversions1d" jdbcType="INTEGER" />
    <result column="attributed_conversions7d" property="attributedConversions7d" jdbcType="INTEGER" />
    <result column="attributed_conversions14d" property="attributedConversions14d" jdbcType="INTEGER" />
    <result column="attributed_conversions30d" property="attributedConversions30d" jdbcType="INTEGER" />
    <result column="attributed_conversions1d_same_SKU" property="attributedConversions1dSameSku" jdbcType="INTEGER" />
    <result column="attributed_conversions7d_same_SKU" property="attributedConversions7dSameSku" jdbcType="INTEGER" />
    <result column="attributed_conversions14d_same_SKU" property="attributedConversions14dSameSku" jdbcType="INTEGER" />
    <result column="attributed_conversions30d_same_SKU" property="attributedConversions30dSameSku" jdbcType="INTEGER" />
    <result column="attributed_units_ordered1d" property="attributedUnitsOrdered1d" jdbcType="INTEGER" />
    <result column="attributed_units_ordered7d" property="attributedUnitsOrdered7d" jdbcType="INTEGER" />
    <result column="attributed_units_ordered14d" property="attributedUnitsOrdered14d" jdbcType="INTEGER" />
    <result column="attributed_units_ordered30d" property="attributedUnitsOrdered30d" jdbcType="INTEGER" />
    <result column="attributed_sales1d" property="attributedSales1d" jdbcType="DECIMAL" />
    <result column="attributed_sales7d" property="attributedSales7d" jdbcType="DECIMAL" />
    <result column="attributed_sales14d" property="attributedSales14d" jdbcType="DECIMAL" />
    <result column="attributed_sales30d" property="attributedSales30d" jdbcType="DECIMAL" />
    <result column="attributed_sales1d_same_SKU" property="attributedSales1dSameSku" jdbcType="DECIMAL" />
    <result column="attributed_sales7d_same_SKU" property="attributedSales7dSameSku" jdbcType="DECIMAL" />
    <result column="attributed_sales14d_same_SKU" property="attributedSales14dSameSku" jdbcType="DECIMAL" />
    <result column="attributed_sales30d_same_SKU" property="attributedSales30dSameSku" jdbcType="DECIMAL" />
    <result column="attributed_units_ordered1d_same_SKU" property="attributedUnitsOrdered1dSameSku" jdbcType="INTEGER" />
    <result column="attributed_units_ordered7d_same_SKU" property="attributedUnitsOrdered7dSameSku" jdbcType="INTEGER" />
    <result column="attributed_units_ordered14d_same_SKU" property="attributedUnitsOrdered14dSameSku" jdbcType="INTEGER" />
    <result column="attributed_units_ordered30d_same_SKU" property="attributedUnitsOrdered30dSameSku" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, shop, area, date, create_time, campaign_name, campaign_id, ad_group_id, ad_group_name, 
    impressions, clicks, cost, attributed_conversions1d, attributed_conversions7d, attributed_conversions14d, 
    attributed_conversions30d, attributed_conversions1d_same_SKU, attributed_conversions7d_same_SKU, 
    attributed_conversions14d_same_SKU, attributed_conversions30d_same_SKU, attributed_units_ordered1d, 
    attributed_units_ordered7d, attributed_units_ordered14d, attributed_units_ordered30d, 
    attributed_sales1d, attributed_sales7d, attributed_sales14d, attributed_sales30d, 
    attributed_sales1d_same_SKU, attributed_sales7d_same_SKU, attributed_sales14d_same_SKU, 
    attributed_sales30d_same_SKU, attributed_units_ordered1d_same_SKU, attributed_units_ordered7d_same_SKU, 
    attributed_units_ordered14d_same_SKU, attributed_units_ordered30d_same_SKU
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from original_data_adv_adgroups_report
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from original_data_adv_adgroups_report
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.weiziplus.springboot.models.OriginalDataAdvAdgroupsReport" >
    insert into original_data_adv_adgroups_report (id, shop, area, 
      date, create_time, campaign_name, 
      campaign_id, ad_group_id, ad_group_name, 
      impressions, clicks, cost, 
      attributed_conversions1d, attributed_conversions7d, 
      attributed_conversions14d, attributed_conversions30d, 
      attributed_conversions1d_same_SKU, attributed_conversions7d_same_SKU, 
      attributed_conversions14d_same_SKU, attributed_conversions30d_same_SKU, 
      attributed_units_ordered1d, attributed_units_ordered7d, 
      attributed_units_ordered14d, attributed_units_ordered30d, 
      attributed_sales1d, attributed_sales7d, attributed_sales14d, 
      attributed_sales30d, attributed_sales1d_same_SKU, 
      attributed_sales7d_same_SKU, attributed_sales14d_same_SKU, 
      attributed_sales30d_same_SKU, attributed_units_ordered1d_same_SKU, 
      attributed_units_ordered7d_same_SKU, attributed_units_ordered14d_same_SKU, 
      attributed_units_ordered30d_same_SKU)
    values (#{id,jdbcType=BIGINT}, #{shop,jdbcType=VARCHAR}, #{area,jdbcType=VARCHAR}, 
      #{date,jdbcType=TIMESTAMP}, #{createTime,jdbcType=TIMESTAMP}, #{campaignName,jdbcType=VARCHAR}, 
      #{campaignId,jdbcType=BIGINT}, #{adGroupId,jdbcType=BIGINT}, #{adGroupName,jdbcType=VARCHAR}, 
      #{impressions,jdbcType=INTEGER}, #{clicks,jdbcType=INTEGER}, #{cost,jdbcType=DECIMAL}, 
      #{attributedConversions1d,jdbcType=INTEGER}, #{attributedConversions7d,jdbcType=INTEGER}, 
      #{attributedConversions14d,jdbcType=INTEGER}, #{attributedConversions30d,jdbcType=INTEGER}, 
      #{attributedConversions1dSameSku,jdbcType=INTEGER}, #{attributedConversions7dSameSku,jdbcType=INTEGER}, 
      #{attributedConversions14dSameSku,jdbcType=INTEGER}, #{attributedConversions30dSameSku,jdbcType=INTEGER}, 
      #{attributedUnitsOrdered1d,jdbcType=INTEGER}, #{attributedUnitsOrdered7d,jdbcType=INTEGER}, 
      #{attributedUnitsOrdered14d,jdbcType=INTEGER}, #{attributedUnitsOrdered30d,jdbcType=INTEGER}, 
      #{attributedSales1d,jdbcType=DECIMAL}, #{attributedSales7d,jdbcType=DECIMAL}, #{attributedSales14d,jdbcType=DECIMAL}, 
      #{attributedSales30d,jdbcType=DECIMAL}, #{attributedSales1dSameSku,jdbcType=DECIMAL}, 
      #{attributedSales7dSameSku,jdbcType=DECIMAL}, #{attributedSales14dSameSku,jdbcType=DECIMAL}, 
      #{attributedSales30dSameSku,jdbcType=DECIMAL}, #{attributedUnitsOrdered1dSameSku,jdbcType=INTEGER}, 
      #{attributedUnitsOrdered7dSameSku,jdbcType=INTEGER}, #{attributedUnitsOrdered14dSameSku,jdbcType=INTEGER}, 
      #{attributedUnitsOrdered30dSameSku,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.weiziplus.springboot.models.OriginalDataAdvAdgroupsReport" >
    insert into original_data_adv_adgroups_report
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="shop != null" >
        shop,
      </if>
      <if test="area != null" >
        area,
      </if>
      <if test="date != null" >
        date,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="campaignName != null" >
        campaign_name,
      </if>
      <if test="campaignId != null" >
        campaign_id,
      </if>
      <if test="adGroupId != null" >
        ad_group_id,
      </if>
      <if test="adGroupName != null" >
        ad_group_name,
      </if>
      <if test="impressions != null" >
        impressions,
      </if>
      <if test="clicks != null" >
        clicks,
      </if>
      <if test="cost != null" >
        cost,
      </if>
      <if test="attributedConversions1d != null" >
        attributed_conversions1d,
      </if>
      <if test="attributedConversions7d != null" >
        attributed_conversions7d,
      </if>
      <if test="attributedConversions14d != null" >
        attributed_conversions14d,
      </if>
      <if test="attributedConversions30d != null" >
        attributed_conversions30d,
      </if>
      <if test="attributedConversions1dSameSku != null" >
        attributed_conversions1d_same_SKU,
      </if>
      <if test="attributedConversions7dSameSku != null" >
        attributed_conversions7d_same_SKU,
      </if>
      <if test="attributedConversions14dSameSku != null" >
        attributed_conversions14d_same_SKU,
      </if>
      <if test="attributedConversions30dSameSku != null" >
        attributed_conversions30d_same_SKU,
      </if>
      <if test="attributedUnitsOrdered1d != null" >
        attributed_units_ordered1d,
      </if>
      <if test="attributedUnitsOrdered7d != null" >
        attributed_units_ordered7d,
      </if>
      <if test="attributedUnitsOrdered14d != null" >
        attributed_units_ordered14d,
      </if>
      <if test="attributedUnitsOrdered30d != null" >
        attributed_units_ordered30d,
      </if>
      <if test="attributedSales1d != null" >
        attributed_sales1d,
      </if>
      <if test="attributedSales7d != null" >
        attributed_sales7d,
      </if>
      <if test="attributedSales14d != null" >
        attributed_sales14d,
      </if>
      <if test="attributedSales30d != null" >
        attributed_sales30d,
      </if>
      <if test="attributedSales1dSameSku != null" >
        attributed_sales1d_same_SKU,
      </if>
      <if test="attributedSales7dSameSku != null" >
        attributed_sales7d_same_SKU,
      </if>
      <if test="attributedSales14dSameSku != null" >
        attributed_sales14d_same_SKU,
      </if>
      <if test="attributedSales30dSameSku != null" >
        attributed_sales30d_same_SKU,
      </if>
      <if test="attributedUnitsOrdered1dSameSku != null" >
        attributed_units_ordered1d_same_SKU,
      </if>
      <if test="attributedUnitsOrdered7dSameSku != null" >
        attributed_units_ordered7d_same_SKU,
      </if>
      <if test="attributedUnitsOrdered14dSameSku != null" >
        attributed_units_ordered14d_same_SKU,
      </if>
      <if test="attributedUnitsOrdered30dSameSku != null" >
        attributed_units_ordered30d_same_SKU,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="shop != null" >
        #{shop,jdbcType=VARCHAR},
      </if>
      <if test="area != null" >
        #{area,jdbcType=VARCHAR},
      </if>
      <if test="date != null" >
        #{date,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="campaignName != null" >
        #{campaignName,jdbcType=VARCHAR},
      </if>
      <if test="campaignId != null" >
        #{campaignId,jdbcType=BIGINT},
      </if>
      <if test="adGroupId != null" >
        #{adGroupId,jdbcType=BIGINT},
      </if>
      <if test="adGroupName != null" >
        #{adGroupName,jdbcType=VARCHAR},
      </if>
      <if test="impressions != null" >
        #{impressions,jdbcType=INTEGER},
      </if>
      <if test="clicks != null" >
        #{clicks,jdbcType=INTEGER},
      </if>
      <if test="cost != null" >
        #{cost,jdbcType=DECIMAL},
      </if>
      <if test="attributedConversions1d != null" >
        #{attributedConversions1d,jdbcType=INTEGER},
      </if>
      <if test="attributedConversions7d != null" >
        #{attributedConversions7d,jdbcType=INTEGER},
      </if>
      <if test="attributedConversions14d != null" >
        #{attributedConversions14d,jdbcType=INTEGER},
      </if>
      <if test="attributedConversions30d != null" >
        #{attributedConversions30d,jdbcType=INTEGER},
      </if>
      <if test="attributedConversions1dSameSku != null" >
        #{attributedConversions1dSameSku,jdbcType=INTEGER},
      </if>
      <if test="attributedConversions7dSameSku != null" >
        #{attributedConversions7dSameSku,jdbcType=INTEGER},
      </if>
      <if test="attributedConversions14dSameSku != null" >
        #{attributedConversions14dSameSku,jdbcType=INTEGER},
      </if>
      <if test="attributedConversions30dSameSku != null" >
        #{attributedConversions30dSameSku,jdbcType=INTEGER},
      </if>
      <if test="attributedUnitsOrdered1d != null" >
        #{attributedUnitsOrdered1d,jdbcType=INTEGER},
      </if>
      <if test="attributedUnitsOrdered7d != null" >
        #{attributedUnitsOrdered7d,jdbcType=INTEGER},
      </if>
      <if test="attributedUnitsOrdered14d != null" >
        #{attributedUnitsOrdered14d,jdbcType=INTEGER},
      </if>
      <if test="attributedUnitsOrdered30d != null" >
        #{attributedUnitsOrdered30d,jdbcType=INTEGER},
      </if>
      <if test="attributedSales1d != null" >
        #{attributedSales1d,jdbcType=DECIMAL},
      </if>
      <if test="attributedSales7d != null" >
        #{attributedSales7d,jdbcType=DECIMAL},
      </if>
      <if test="attributedSales14d != null" >
        #{attributedSales14d,jdbcType=DECIMAL},
      </if>
      <if test="attributedSales30d != null" >
        #{attributedSales30d,jdbcType=DECIMAL},
      </if>
      <if test="attributedSales1dSameSku != null" >
        #{attributedSales1dSameSku,jdbcType=DECIMAL},
      </if>
      <if test="attributedSales7dSameSku != null" >
        #{attributedSales7dSameSku,jdbcType=DECIMAL},
      </if>
      <if test="attributedSales14dSameSku != null" >
        #{attributedSales14dSameSku,jdbcType=DECIMAL},
      </if>
      <if test="attributedSales30dSameSku != null" >
        #{attributedSales30dSameSku,jdbcType=DECIMAL},
      </if>
      <if test="attributedUnitsOrdered1dSameSku != null" >
        #{attributedUnitsOrdered1dSameSku,jdbcType=INTEGER},
      </if>
      <if test="attributedUnitsOrdered7dSameSku != null" >
        #{attributedUnitsOrdered7dSameSku,jdbcType=INTEGER},
      </if>
      <if test="attributedUnitsOrdered14dSameSku != null" >
        #{attributedUnitsOrdered14dSameSku,jdbcType=INTEGER},
      </if>
      <if test="attributedUnitsOrdered30dSameSku != null" >
        #{attributedUnitsOrdered30dSameSku,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.weiziplus.springboot.models.OriginalDataAdvAdgroupsReport" >
    update original_data_adv_adgroups_report
    <set >
      <if test="shop != null" >
        shop = #{shop,jdbcType=VARCHAR},
      </if>
      <if test="area != null" >
        area = #{area,jdbcType=VARCHAR},
      </if>
      <if test="date != null" >
        date = #{date,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="campaignName != null" >
        campaign_name = #{campaignName,jdbcType=VARCHAR},
      </if>
      <if test="campaignId != null" >
        campaign_id = #{campaignId,jdbcType=BIGINT},
      </if>
      <if test="adGroupId != null" >
        ad_group_id = #{adGroupId,jdbcType=BIGINT},
      </if>
      <if test="adGroupName != null" >
        ad_group_name = #{adGroupName,jdbcType=VARCHAR},
      </if>
      <if test="impressions != null" >
        impressions = #{impressions,jdbcType=INTEGER},
      </if>
      <if test="clicks != null" >
        clicks = #{clicks,jdbcType=INTEGER},
      </if>
      <if test="cost != null" >
        cost = #{cost,jdbcType=DECIMAL},
      </if>
      <if test="attributedConversions1d != null" >
        attributed_conversions1d = #{attributedConversions1d,jdbcType=INTEGER},
      </if>
      <if test="attributedConversions7d != null" >
        attributed_conversions7d = #{attributedConversions7d,jdbcType=INTEGER},
      </if>
      <if test="attributedConversions14d != null" >
        attributed_conversions14d = #{attributedConversions14d,jdbcType=INTEGER},
      </if>
      <if test="attributedConversions30d != null" >
        attributed_conversions30d = #{attributedConversions30d,jdbcType=INTEGER},
      </if>
      <if test="attributedConversions1dSameSku != null" >
        attributed_conversions1d_same_SKU = #{attributedConversions1dSameSku,jdbcType=INTEGER},
      </if>
      <if test="attributedConversions7dSameSku != null" >
        attributed_conversions7d_same_SKU = #{attributedConversions7dSameSku,jdbcType=INTEGER},
      </if>
      <if test="attributedConversions14dSameSku != null" >
        attributed_conversions14d_same_SKU = #{attributedConversions14dSameSku,jdbcType=INTEGER},
      </if>
      <if test="attributedConversions30dSameSku != null" >
        attributed_conversions30d_same_SKU = #{attributedConversions30dSameSku,jdbcType=INTEGER},
      </if>
      <if test="attributedUnitsOrdered1d != null" >
        attributed_units_ordered1d = #{attributedUnitsOrdered1d,jdbcType=INTEGER},
      </if>
      <if test="attributedUnitsOrdered7d != null" >
        attributed_units_ordered7d = #{attributedUnitsOrdered7d,jdbcType=INTEGER},
      </if>
      <if test="attributedUnitsOrdered14d != null" >
        attributed_units_ordered14d = #{attributedUnitsOrdered14d,jdbcType=INTEGER},
      </if>
      <if test="attributedUnitsOrdered30d != null" >
        attributed_units_ordered30d = #{attributedUnitsOrdered30d,jdbcType=INTEGER},
      </if>
      <if test="attributedSales1d != null" >
        attributed_sales1d = #{attributedSales1d,jdbcType=DECIMAL},
      </if>
      <if test="attributedSales7d != null" >
        attributed_sales7d = #{attributedSales7d,jdbcType=DECIMAL},
      </if>
      <if test="attributedSales14d != null" >
        attributed_sales14d = #{attributedSales14d,jdbcType=DECIMAL},
      </if>
      <if test="attributedSales30d != null" >
        attributed_sales30d = #{attributedSales30d,jdbcType=DECIMAL},
      </if>
      <if test="attributedSales1dSameSku != null" >
        attributed_sales1d_same_SKU = #{attributedSales1dSameSku,jdbcType=DECIMAL},
      </if>
      <if test="attributedSales7dSameSku != null" >
        attributed_sales7d_same_SKU = #{attributedSales7dSameSku,jdbcType=DECIMAL},
      </if>
      <if test="attributedSales14dSameSku != null" >
        attributed_sales14d_same_SKU = #{attributedSales14dSameSku,jdbcType=DECIMAL},
      </if>
      <if test="attributedSales30dSameSku != null" >
        attributed_sales30d_same_SKU = #{attributedSales30dSameSku,jdbcType=DECIMAL},
      </if>
      <if test="attributedUnitsOrdered1dSameSku != null" >
        attributed_units_ordered1d_same_SKU = #{attributedUnitsOrdered1dSameSku,jdbcType=INTEGER},
      </if>
      <if test="attributedUnitsOrdered7dSameSku != null" >
        attributed_units_ordered7d_same_SKU = #{attributedUnitsOrdered7dSameSku,jdbcType=INTEGER},
      </if>
      <if test="attributedUnitsOrdered14dSameSku != null" >
        attributed_units_ordered14d_same_SKU = #{attributedUnitsOrdered14dSameSku,jdbcType=INTEGER},
      </if>
      <if test="attributedUnitsOrdered30dSameSku != null" >
        attributed_units_ordered30d_same_SKU = #{attributedUnitsOrdered30dSameSku,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.weiziplus.springboot.models.OriginalDataAdvAdgroupsReport" >
    update original_data_adv_adgroups_report
    set shop = #{shop,jdbcType=VARCHAR},
      area = #{area,jdbcType=VARCHAR},
      date = #{date,jdbcType=TIMESTAMP},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      campaign_name = #{campaignName,jdbcType=VARCHAR},
      campaign_id = #{campaignId,jdbcType=BIGINT},
      ad_group_id = #{adGroupId,jdbcType=BIGINT},
      ad_group_name = #{adGroupName,jdbcType=VARCHAR},
      impressions = #{impressions,jdbcType=INTEGER},
      clicks = #{clicks,jdbcType=INTEGER},
      cost = #{cost,jdbcType=DECIMAL},
      attributed_conversions1d = #{attributedConversions1d,jdbcType=INTEGER},
      attributed_conversions7d = #{attributedConversions7d,jdbcType=INTEGER},
      attributed_conversions14d = #{attributedConversions14d,jdbcType=INTEGER},
      attributed_conversions30d = #{attributedConversions30d,jdbcType=INTEGER},
      attributed_conversions1d_same_SKU = #{attributedConversions1dSameSku,jdbcType=INTEGER},
      attributed_conversions7d_same_SKU = #{attributedConversions7dSameSku,jdbcType=INTEGER},
      attributed_conversions14d_same_SKU = #{attributedConversions14dSameSku,jdbcType=INTEGER},
      attributed_conversions30d_same_SKU = #{attributedConversions30dSameSku,jdbcType=INTEGER},
      attributed_units_ordered1d = #{attributedUnitsOrdered1d,jdbcType=INTEGER},
      attributed_units_ordered7d = #{attributedUnitsOrdered7d,jdbcType=INTEGER},
      attributed_units_ordered14d = #{attributedUnitsOrdered14d,jdbcType=INTEGER},
      attributed_units_ordered30d = #{attributedUnitsOrdered30d,jdbcType=INTEGER},
      attributed_sales1d = #{attributedSales1d,jdbcType=DECIMAL},
      attributed_sales7d = #{attributedSales7d,jdbcType=DECIMAL},
      attributed_sales14d = #{attributedSales14d,jdbcType=DECIMAL},
      attributed_sales30d = #{attributedSales30d,jdbcType=DECIMAL},
      attributed_sales1d_same_SKU = #{attributedSales1dSameSku,jdbcType=DECIMAL},
      attributed_sales7d_same_SKU = #{attributedSales7dSameSku,jdbcType=DECIMAL},
      attributed_sales14d_same_SKU = #{attributedSales14dSameSku,jdbcType=DECIMAL},
      attributed_sales30d_same_SKU = #{attributedSales30dSameSku,jdbcType=DECIMAL},
      attributed_units_ordered1d_same_SKU = #{attributedUnitsOrdered1dSameSku,jdbcType=INTEGER},
      attributed_units_ordered7d_same_SKU = #{attributedUnitsOrdered7dSameSku,jdbcType=INTEGER},
      attributed_units_ordered14d_same_SKU = #{attributedUnitsOrdered14dSameSku,jdbcType=INTEGER},
      attributed_units_ordered30d_same_SKU = #{attributedUnitsOrdered30dSameSku,jdbcType=INTEGER}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>