<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	<mapper namespace="com.weiziplus.springboot.mapper.advertisingInventoryReport.ReservedInventoryMapper">
    
       <select id="getStockFromReservedInventory" parameterType="java.util.Map" resultType="com.weiziplus.springboot.models.ReservedInventory">
				SELECT 
					COALESCE(sum(reserved_fc_transfers),0) AS inventoryInTransfer 
				FROM
					reserved_inventory 
				WHERE
					asin = #{param.asin}
					  				
				<if test="param.area != null and param.area !='' ">
  					and area = #{param.area}
  				</if>
  				<if test="param.shop != null and param.shop != ''">
  					and shop = #{param.shop}
  				</if>
    </select>
	<delete id="deleteReservedInventory">
	DELETE FROM reserved_inventory
	</delete>

    
    
    
</mapper>