<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.weiziplus.springboot.mapper.review.CrawlShopMapper">
    <select id="getOneInfoByShopAndAreaAndAsin"
            resultType="com.weiziplus.springboot.models.CrawlShop">
		SELECT *
		FROM crawl_shop
		WHERE shop = #{shop} AND area = #{area} AND asin = #{asin}
		LIMIT 1
	</select>
</mapper>