<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.weiziplus.springboot.mapper.sspa.SalesAndTrafficMapper">
    <select id="getListDataByYear" resultType="com.weiziplus.springboot.models.SalesAndTraffic">
        SELECT SUM(ordered_item_sales) AS ordered_product_sales,
                SUM(ordered_item_sales_B2B) AS ordered_product_sales_b2b,
                SUM(buyer_visits) AS sessions
        FROM detail_page_sales_and_traffic_by_child_items
        WHERE date LIKE concat(#{year},'-%')
    </select>
    <select id="getListDataByYearAndMonth"
            resultType="com.weiziplus.springboot.models.SalesAndTraffic">
        SELECT SUM(ordered_item_sales) AS ordered_product_sales,
                SUM(ordered_item_sales_B2B) AS ordered_product_sales_b2b,
                SUM(buyer_visits) AS sessions
        FROM detail_page_sales_and_traffic_by_child_items
        WHERE date LIKE concat(#{year},'-',#{month},'-%')
    </select>
    <select id="getLatestDay" resultType="java.lang.String">
        SELECT MAX(date) AS date
        FROM sales_and_traffic
        where 1 = 1
        <if test="shop!=null and shop != ''">
            and shop =#{shop}
        </if>
        <if test="area!=null and area != ''">
            and area =#{area}
        </if>
    </select>
    <select id="getOneInfoByShopAndAreaAndDate" resultType="com.weiziplus.springboot.models.SalesAndTraffic">
        SELECT *
        FROM sales_and_traffic
        WHERE shop = #{shop} AND area = #{area} AND date = #{date}
        LIMIT 1
    </select>
</mapper>
