<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.weiziplus.springboot.mapper.scheduled.RemovalShipmentDetailMapper">
    <select id="getLatestDay" resultType="java.lang.String">
        SELECT MAX(request_date) AS requestDate
        FROM removal_shipment_detail
        where 1 = 1
        <if test="shop!=null and shop != ''">
            and shop = #{shop}
        </if>
        <if test="area != null and area != ''">
            and area = #{area}
        </if>
    </select>
</mapper>
