<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.weiziplus.springboot.mapper.scheduled.RemovalOrderDetailMapper">
    <select id="getOneInfoByOrderIdAndSkuAndFnSkuAndDisposition"
            resultType="com.weiziplus.springboot.models.RemovalOrderDetail">
        SELECT *
        FROM removal_order_detail
        WHERE order_id = #{orderId} AND sku = #{sku} AND fnsku = #{fnsku} AND disposition = #{disposition}
        LIMIT 1
    </select>
</mapper>