<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.weiziplus.springboot.mapper.caravan.StorageLogDataMapper">
    <select id="getOneInfoByLogId"
            resultType="com.weiziplus.springboot.models.StorageLogData">
        SELECT *
        FROM storage_log_data
        WHERE log_id = #{logId}
        LIMIT 1
    </select>
</mapper>