<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.weiziplus.springboot.mapper.shop.ProfileMapper">
    <insert id="addShopAreaProfileId" >
        insert into shop_area_profile(shop_id,area_id,profile_id,region_code,status)
        values (#{shopId,jdbcType=BIGINT},#{areaId,jdbcType=BIGINT},#{profileId,jdbcType=VARCHAR},#{regionCode,jdbcType=VARCHAR},#{status,jdbcType=INTEGER})
    </insert>
    <select id="getAllDatas" resultType="com.weiziplus.springboot.models.ShopAreaProfile">
        select shop_id,area_id,profile_id,region_code,status from shop_area_profile
    </select>

    <select id="getDatasByShopId" resultType="com.weiziplus.springboot.models.ShopAreaProfile">
        select shop_id,area_id,profile_id,region_code,status from shop_area_profile where shop_id = #{shopId}
    </select>
    <delete id="delShopAreaProfileId">
        delete From shop_area_profile where shop_id = #{shopId,jdbcType=BIGINT}
    </delete>
    <update id="updateProfileStatusByProfileId">
        update shop_area_profile set status = 1 where profile_id = #{profileId,jdbcType=VARCHAR}
    </update>
    <select id="getDatasByShopIdAreaId" resultType="com.weiziplus.springboot.models.ShopAreaProfile">
        select shop_id,area_id,profile_id,region_code,status from shop_area_profile where shop_id = #{shopId,jdbcType=BIGINT} and area_id = #{areaId,jdbcType=BIGINT}
    </select>
</mapper>